body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    color: #cfb5aafc;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px 10px; 
}

.box {
    border: 15px solid #9d733de6;
    background-color: #213555;
    padding: 20px; 
    width: 690px;
}

h1 {
    text-align: center;
    font-size: 50px;    
}

h2{
    font-size: 35px;
} 

p{
    font-size: 25px;
    font-weight: 500;
}

ul.first{
    list-style-type: square;
    font-size: 25px;
    font-weight: 500;    
}

