body {
    overflow: hidden;
    background-color: #213555;
    padding: 20px;
    margin: auto;
    margin-top: 170px;
    width: 690px;
    height: auto;
    border: 15px solid #F5EFE7;
    color: #997C70;
    font-family: sans-serif;

}

h1 {
    text-align: center;
    font-size: 50px;
    
}

h2{
    font-size: 35px;
}

p{
    font-size: 25px;
    font-weight: 500;
}

ul.first{
    
    list-style-type: square;
    font-size: 25px;
    font-weight: 500;
    
}

